.table-dark{
  .state-canceled, .state-inactive{
    background: var(--app-error);
  }

  .state-option{
    background: var(--app-primary);
  }

  .state-confirmed, .state-active{
    background: var(--app-success);
  }
}

.secondary{
  .tableau-dark{
    .state-option{
      background: var(--app-secondary);
    }
  }
}
